.input {
  padding: 12px;
  width: 100%;
  max-width: 300px;
  border: 1px solid #d682b1;
  background-color: #e2aed9;
}

.nz-button {
  left: 50%;
  bottom: 1px; /* Ajusta la distancia del botón desde abajo según sea necesario */
  transform: translateX(-50%);
  background-color: #c977bb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nz-button-activar {
  left: 50%;
  bottom: 1px; /* Ajusta la distancia del botón desde abajo según sea necesario */
  transform: translateX(-50%);
  background-color: #0bbb72;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error-text{
  color: #d10f0f;
}

.nz-button-desactivar {
  left: 50%;
  bottom: 1px; /* Ajusta la distancia del botón desde abajo según sea necesario */
  transform: translateX(-50%);
  background-color: #d10f0f;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nz-button:hover {
  background-color: #cf77a0;
}

.button{
  background-color: #cf77a0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

  .table-container {
    width: 100%;
    border-collapse: collapse; /* Combina los bordes de las celdas */
    overflow-x: auto; /* Habilita el desplazamiento horizontal */
    max-width: 100%; /* Limita el ancho máximo al contenedor */
    position: relative;
  }
  
  .table-container th, .table-container td {
    border: 1px solid #ddd; /* Añade bordes a las celdas */
    padding: 5px;
    background-color: rgb(233, 204, 220);
  }
  
  .table-container tr {
    height: 2px; /* Altura de las filas */
  }
  .listcategoria{
    color: rgb(168, 82, 133);
  }

  .responsive-table th, .responsive-table td {
    border: 1px solid #ddd; /* Añade bordes a las celdas */
    padding: 10px;
    background-color: rgb(233, 204, 220);
  }
  
  /* Media query para ajustar el tamaño de las celdas en dispositivos pequeños */
  @media (max-width: 600px) {
    .responsive-table th, .responsive-table td {
      padding: 10px;
      font-size: 10px;
    }
  }

  .botones-container {
    display: flex; /* Usa flexbox para alinear los botones */
    justify-content: center; /* Centra los elementos horizontalmente */
  }

  .boton {
    margin: 0 10px; /* Añade un espacio entre los botones */
  }