/* Contenedor responsivo */
.responsive-container {
    text-align: center; /* Centra el contenido horizontalmente */
    padding: 20px; /* Espaciado alrededor del contenido */
    max-width: 100%; /* Limita el ancho máximo al 100% del contenedor padre */
    box-sizing: border-box; /* Incluye el padding en el cálculo del ancho total */
  }
  
  /* Título responsivo */
  .responsive-container h1 {
    font-size: 2rem; /* Tamaño de fuente que se adapta al tamaño de pantalla */
    margin: 0 0 20px; /* Margen inferior para separar del contenido siguiente */
    color: #333; /* Color del texto */
  }
  
  /* Imagen responsiva */
  .responsive-image {
    max-width: 100%; /* Limita el ancho máximo de la imagen al 100% del contenedor padre */
    height: auto; /* Mantiene la proporción de aspecto de la imagen */
    border-radius: 8px; /* Opcional: redondea las esquinas de la imagen */
  }
  
  .current-datetime {
    font-size: 36px;
    color: #555;
    margin-top: 10px;
  }
  