<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
    nzCollapsible
    nzWidth="256px"
    nzBreakpoint="md"
    [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/welcome">
        <img src="./assets/img/logo1.png" alt="logo">
        <h1>FeriaZag</h1>
      </a>
    </div>
    <ul nz-menu class="nz-menu" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Consignacion" nzIcon="Shop">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a href="/consignacion">Listar</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Producto" nzIcon="skin">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a href="./producto">Listar</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Categoria" nzIcon="bars">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a href="./categoria">Listar</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Usuario" nzIcon="user">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a href="./usuario">Listar</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Venta" nzIcon="form">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a href="./venta">Listar</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Agregar</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Modificar</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Eliminar</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
          <span class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></span>
        </span>
        <a class="link" (click)="logout()" nz-button nzType="primary">Cerrar Sesión</a>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
