<h1 class="listproductos text-center">Listado de productos</h1>

  <div class="input-container">
    <select class="select" (change)="onSelectChange($event)">
      <option value="">Todos los productos</option>
      <option value="no_vendidos">Productos vendidos</option>
      <option value="vendidos">Productos no vendidos</option>
    </select>
    <input class="input-codigo m-4" (keyup)="searchPorDescripcion()"  placeholder="Buscar producto por nombre" [(ngModel)]="valorinput1" type="text" />
    <input class="input-codigo m-4" (keyup)="searchPorCodigo()"  placeholder="Buscar producto por codigo" [(ngModel)]="valorinput2" type="text" />
  </div>

  <div class="table-container">
  @if(opcionSeleccionada === 'vendidos'){
    <nz-table class="responsive-table" #productosVendidos [nzData]="productosVendidosTmp" [nzPageSize]="5" [nzShowPagination]="true">
        <thead>
          <tr>
            <th class="text-center">Codigo</th>
            <th class="text-center">Categoria</th>
            <th class="text-center">Descripcion</th>
            <th class="text-center">Talle</th>
            <th class="text-center">Precio</th>
            <th class="text-center">Activo</th>
            <th class="text-center">Accion</th>
          </tr>
        </thead>
        <tbody class="align-item-center">
            @for (data of productosVendidos.data; track $index) {
                <tr>
                  <td class="text-center">{{ data.cod_producto }}</td>
                  <td class="text-center">{{ data.categoria }}</td>
                  <td class="text-center">{{ data.descripcion }}</td>
                  <td class="text-center">{{ data.talle }}</td>
                  <td class="text-center">{{'$'}}{{ data.precio }}</td>
                  <td class="text-center">{{ data.activo }}</td>
                <td>
                  @if(data.activo === 'Si'){
                    <button class="nz-button-desactivar" nz-popconfirm
                    nzPopconfirmTitle="Estas seguro que desea desactivar el producto?"
                    nzPopconfirmPlacement="bottom"
                    (nzOnConfirm)="desactivarProducto(data.id_producto || '')"
                     nz-button nzType="primary">
                     <i nz-icon [nzType]="'close'"></i>
                    </button>
                  }@else {
                    <button class="nz-button-activar" nz-popconfirm
                    nzPopconfirmTitle="Estas seguro que desea activar el producto?"
                    nzPopconfirmPlacement="bottom"
                    (nzOnConfirm)="activarProducto(data.id_producto || '')"
                     nz-button nzType="primary">
                     <i nz-icon [nzType]="'check'"></i>
                    </button>
                  }
                </td>
                </tr>
            }
        </tbody>
    </nz-table> 
  }@else if (opcionSeleccionada === 'no_vendidos') {
    <div class="table-container">
    <nz-table class="responsive-table" #productosNoVendidos [nzData]="productosNoVendidosTmp" [nzPageSize]="5" [nzShowPagination]="true">
        <thead>
          <tr>
            <th class="text-center">Codigo</th>
            <th class="text-center">Categoria</th>
            <th class="text-center">Descripcion</th>
            <th class="text-center">Talle</th>
            <th class="text-center">Precio</th>
            <th class="text-center">Activo</th>
            <th class="text-center">Accion</th>
          </tr>
        </thead>
        <tbody class="align-item-center">
            @for (data of productosNoVendidos.data; track $index) {
                <tr>
                  <td class="text-center">{{ data.cod_producto }}</td>
                  <td class="text-center">{{ data.categoria }}</td>
                  <td class="text-center">{{ data.descripcion }}</td>
                  <td class="text-center">{{ data.talle }}</td>
                  <td class="text-center">{{'$'}}{{ data.precio }}</td>
                  <td class="text-center">{{ data.activo }}</td>
                <td>
                  @if(data.activo === 'Si'){
                    <button class="nz-button-desactivar" nz-popconfirm
                    nzPopconfirmTitle="Estas seguro que desea desactivar el producto?"
                    nzPopconfirmPlacement="bottom"
                    (nzOnConfirm)="desactivarProducto(data.id_producto || '')"
                     nz-button nzType="primary">
                     <i nz-icon [nzType]="'close'"></i>
                    </button>
                  }@else {
                    <button class="nz-button-activar" nz-popconfirm
                    nzPopconfirmTitle="Estas seguro que desea activar el producto?"
                    nzPopconfirmPlacement="bottom"
                    (nzOnConfirm)="activarProducto(data.id_producto || '')"
                     nz-button nzType="primary">
                     <i nz-icon [nzType]="'check'"></i>
                    </button>
                  }
                </td>
                </tr>
            }
        </tbody>
    </nz-table> 
  </div>
  }@else {
    <div class="table-container">
      <nz-table class="responsive-table" #basicTable [nzData]="productos" [nzPageSize]="5" [nzShowPagination]="true">
          <thead>
            <tr>
              <th class="text-center">Codigo</th>
              <th class="text-center">Categoria</th>
              <th class="text-center">Descripcion</th>
              <th class="text-center">Talle</th>
              <th class="text-center">Precio</th>
              <th class="text-center">Activo</th>
              <th class="text-center">Accion</th>
            </tr>
          </thead>
          <tbody class="align-item-center">
              @for (data of basicTable.data; track $index) {
                  <tr>
                    <td class="text-center">{{ data.cod_producto }}</td>
                    <td class="text-center">{{ data.categoria }}</td>
                    <td class="text-center">{{ data.descripcion }}</td>
                    <td class="text-center">{{ data.talle }}</td>
                    <td class="text-center">{{'$'}}{{ data.precio }}</td>
                    <td class="text-center">{{ data.activo }}</td>
                  <td>
                    @if(data.activo === 'Si'){
                      <button class="nz-button-desactivar" nz-popconfirm
                      nzPopconfirmTitle="Estas seguro que desea desactivar el producto?"
                      nzPopconfirmPlacement="bottom"
                      (nzOnConfirm)="desactivarProducto(data.id_producto || '')"
                       nz-button nzType="primary">
                       <i nz-icon [nzType]="'close'"></i>
                      </button>
                    }@else {
                      <button class="nz-button-activar" nz-popconfirm
                      nzPopconfirmTitle="Estas seguro que desea activar el producto?"
                      nzPopconfirmPlacement="bottom"
                      (nzOnConfirm)="activarProducto(data.id_producto || '')"
                       nz-button nzType="primary">
                       <i nz-icon [nzType]="'check'"></i>
                      </button>
                    }
                  </td>
                  </tr>
              }
          </tbody>
      </nz-table> 
    </div>
  }