
.input-codigo {
  flex: 1; /* Los inputs ocupan el mismo espacio */
  padding: 12px;
  height: 40px;
  width: 100%;
  max-width: 250px;
  border: 1px solid #d682b1;
  margin-left: auto;
  color: #b15c86;
  background-color: #e2aed9;
}

.input-container {
  display: flex;
  gap: 10px;
}

.button{
  background-color: #cf77a0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 30px;
}

.select {
  background-color: #e2aed9;
  height: 37px;
  margin-top: 25px;
}

.nz-button {
  left: 50%;
  bottom: 1px; /* Ajusta la distancia del botón desde abajo según sea necesario */
  transform: translateX(-50%);
  background-color: #ee69d8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.error-text{
  color: #d10f0f;
}

.nz-button-activar {
  left: 50%;
  bottom: 1px; /* Ajusta la distancia del botón desde abajo según sea necesario */
  transform: translateX(-50%);
  background-color: #08b464;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nz-button-desactivar {
  left: 50%;
  bottom: 1px; /* Ajusta la distancia del botón desde abajo según sea necesario */
  transform: translateX(-50%);
  background-color: #d61111;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nz-button:hover {
  background-color: #cf77a0;
}

  .table-container {
    width: 100%;
    border-collapse: collapse; /* Combina los bordes de las celdas */
    overflow-x: auto; /* Habilita el desplazamiento horizontal */
    max-width: 100%; /* Limita el ancho máximo al contenedor */
    position: relative;
  }
  
  .table-container th, .table-container td {
    border: 1px solid #ddd; /* Añade bordes a las celdas */
    padding: 5px;
    background-color: rgb(233, 204, 220);
  }
  
  .table-container tr {
    height: 2px; /* Altura de las filas */
  }

  .codconsignacion{
    color: rgb(172, 95, 137);
  }
  
  /* Media query para ajustar el tamaño de las celdas en dispositivos pequeños */
  @media (max-width: 600px) {
    .responsive-table th, .responsive-table td {
      padding: 10px;
      font-size: 10px;
    }
  }