

    <h1 class="codconsignacion text-center"> Consignacion: {{codigoConsignacion}} </h1>

<div class="flex justify-content-between p-5">
    <div class="input">
        <input (keyup)="search()" nz-input placeholder="Buscar por nombre" [(ngModel)]="value" type="text" />
    </div>
    <button (click)="openModal()" nz-button nzType="primary">Agregar</button>
</div>

<div class="table-container">
    <nz-table class="responsive-table" #basicTable [nzData]="productos">
        <thead>
          <tr>
            
            <th class="text-center">Producto</th>
            <th class="text-center">Categoria</th>
            <th class="text-center">Codigo Producto</th>
            <th class="text-center">Descripcion</th>
            <th class="text-center">Talle</th>
            <th class="text-center">Precio</th>
            <th class="text-center">Activo</th>
            <th class="text-center">Editar</th>
            <th class="text-center">Desactivar</th>
            <th class="text-center">Activar</th>
          </tr>
        </thead>
        <tbody class="align-item-center">
            @for (data of basicTable.data; track $index) {
                <tr>
                  <td class="text-center">{{ data.codconsignacion }}</td>
                  <td class="text-center">{{ data.categoria }}</td>
                  <td class="text-center">{{ data.codproducto }}</td>
                  <td class="text-center">{{ data.descripcion }}</td>
                  <td class="text-center">{{ data.talle }}</td>
                  <td class="text-center">{{ data.precio }}</td>
                  <td class="text-center">{{ data.activo }}</td>
                <td>
                    <button (click)="edit(data)" nz-button nzType="primary"> 
                        <span  nz-icon nzType="drop"></span>
                        Editar
                    </button>
                </td>
                <td>
                    <button nz-popconfirm
                    nzPopconfirmTitle="Estas seguro que desea desactivar el producto?"
                    nzPopconfirmPlacement="bottom"
                    (nzOnConfirm)="desactivarProducto(data.idproducto || '')"
                     nz-button nzType="primary">
                        Desactivar
                    </button>
                </td>
                <td>
                    <button nz-popconfirm
                    nzPopconfirmTitle="Estas seguro que desea activar el producto?"
                    nzPopconfirmPlacement="bottom"
                    (nzOnConfirm)="activarProducto(data.idproducto || '')"
                     nz-button nzType="primary">
                        Activar
                    </button>
                </td>
                </tr>
            }
        </tbody>
    </nz-table>
</div>

<nz-modal [(nzVisible)]="isVisible"  [nzTitle]="form.idproducto?'Editar producto':'Agregar producto'" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>  
        <input class="mt-3" nz-input placeholder="Idcategoria" [(ngModel)]="form.idcategoria" type="select" />
        <input class="mt-3" nz-input placeholder="Descripcion" [(ngModel)]="form.descripcion" type="text" />
        <input class="mt-3" nz-input placeholder="Talle" [(ngModel)]="form.talle" type="text" />
        <input class="mt-3" nz-input placeholder="Precio" [(ngModel)]="form.precio" type="text" />
        <input class="mt-3" nz-input placeholder="Activo" [(ngModel)]="form.activo" type="text" />
    </ng-container>
</nz-modal>
