
<h1 class="codconsignacion text-center"> Consignacion: {{codigoConsignacion}} </h1>

    <div class="input-container">
        <select class="select" (change)="onSelectChange($event)">
          <option value="">Todos los productos</option>
          <option value="no_vendidos">Productos vendidos</option>
          <option value="vendidos">Productos no vendidos</option>
        </select>
        <input class="input-codigo m-4" (keyup)="searchPorDescripcion()"  placeholder="Buscar producto por nombre" [(ngModel)]="valorinput1" type="text" />
        <input class="input-codigo m-4" (keyup)="searchPorCodigo()"  placeholder="Buscar producto por codigo" [(ngModel)]="valorinput2" type="text" />
        <button class="button" (click)="openModal()" nz-button nzType="primary">Agregar</button>
    </div>

    @if(opcionSeleccionada === 'no_vendidos'){
<div class="table-container">
    <nz-table class="responsive-table" #productosNoVendidos [nzData]="productosNoVendidosTmp" [nzPageSize]="6" [nzShowPagination]="true">
        <thead>
          <tr>
            
            <th class="text-center">Producto</th>
            <th class="text-center">Categoria</th>
            <th class="text-center">Codigo Producto</th>
            <th class="text-center">Descripcion</th>
            <th class="text-center">Talle</th>
            <th class="text-center">Precio</th>
            <th class="text-center">Activo</th>
            <th class="text-center">Editar</th>
            <th class="text-center">Desactivar</th>
          </tr>
        </thead>
        <tbody class="align-item-center">
            @for (data of productosNoVendidos.data; track $index) {
                <tr>
                  <td class="text-center">{{ data.cod_consignacion }}</td>
                  <td class="text-center">{{ data.categoria }}</td>
                  <td class="text-center">{{ data.cod_producto }}</td>
                  <td class="text-center">{{ data.descripcion }}</td>
                  <td class="text-center">{{ data.talle }}</td>
                  <td class="text-center">{{'$'}}{{ data.precio }}</td>
                  <td class="text-center">{{ data.activo }}</td>
                <td>
                    <button class="nz-button" (click)="edit(data)" nz-button nzType="primary"> 
                        <span  nz-icon nzType="drop"></span>
                        Editar
                    </button>
                </td>
                <td>
                    @if(data.activo === 'Si'){
                        <button class="nz-button-desactivar" nz-popconfirm
                        nzPopconfirmTitle="Estas seguro que desea desactivar el producto?"
                        nzPopconfirmPlacement="bottom"
                        (nzOnConfirm)="desactivarProducto(data.id_producto || '')"
                         nz-button nzType="primary">
                            desactivar
                        </button>
                      }@else {
                        <button class="nz-button-activar" nz-popconfirm
                        nzPopconfirmTitle="Estas seguro que desea activar el producto?"
                        nzPopconfirmPlacement="bottom"
                        (nzOnConfirm)="activarProducto(data.id_producto || '')"
                         nz-button nzType="primary">
                            activar
                        </button>
                      }
                </td>
                </tr>
            }
        </tbody>
    </nz-table>
</div>
    }@else if(opcionSeleccionada === 'vendidos'){
        <div class="table-container">
            <nz-table class="responsive-table" #productosVendidos [nzData]="productosVendidosTmp" [nzPageSize]="6" [nzShowPagination]="true">
                <thead>
                  <tr>
                    
                    <th class="text-center">Producto</th>
                    <th class="text-center">Categoria</th>
                    <th class="text-center">Codigo Producto</th>
                    <th class="text-center">Descripcion</th>
                    <th class="text-center">Talle</th>
                    <th class="text-center">Precio</th>
                    <th class="text-center">Activo</th>
                    <th class="text-center">Editar</th>
                    <th class="text-center">Activar</th>
                  </tr>
                </thead>
                <tbody class="align-item-center">
                    @for (data of productosVendidos.data; track $index) {
                        <tr>
                          <td class="text-center">{{ data.cod_consignacion }}</td>
                          <td class="text-center">{{ data.categoria }}</td>
                          <td class="text-center">{{ data.cod_producto }}</td>
                          <td class="text-center">{{ data.descripcion }}</td>
                          <td class="text-center">{{ data.talle }}</td>
                          <td class="text-center">{{'$'}}{{ data.precio }}</td>
                          <td class="text-center">{{ data.activo }}</td>
                        <td>
                            <button class="nz-button" (click)="edit(data)" nz-button nzType="primary"> 
                                <span  nz-icon nzType="drop"></span>
                                Editar
                            </button>
                        </td>
                        <td>
                            @if(data.activo === 'Si'){
                                <button class="nz-button-desactivar" nz-popconfirm
                                nzPopconfirmTitle="Estas seguro que desea desactivar el producto?"
                                nzPopconfirmPlacement="bottom"
                                (nzOnConfirm)="desactivarProducto(data.id_producto || '')"
                                 nz-button nzType="primary">
                                    desactivar
                                </button>
                              }@else {
                                <button class="nz-button-activar" nz-popconfirm
                                nzPopconfirmTitle="Estas seguro que desea activar el producto?"
                                nzPopconfirmPlacement="bottom"
                                (nzOnConfirm)="activarProducto(data.id_producto || '')"
                                 nz-button nzType="primary">
                                    activar
                                </button>
                              }
                        </td>
                        </tr>
                    }
                </tbody>
            </nz-table>
        </div>
            } @else {
                <div class="table-container">
                    <nz-table class="responsive-table" #basicTable [nzData]="productos" [nzPageSize]="6" [nzShowPagination]="true">
                        <thead>
                          <tr>
                            
                            <th class="text-center">Producto</th>
                            <th class="text-center">Categoria</th>
                            <th class="text-center">Codigo Producto</th>
                            <th class="text-center">Descripcion</th>
                            <th class="text-center">Talle</th>
                            <th class="text-center">Precio</th>
                            <th class="text-center">Activo</th>
                            <th class="text-center">Editar</th>
                            <th class="text-center">Activar</th>
                          </tr>
                        </thead>
                        <tbody class="align-item-center">
                            @for (data of basicTable.data; track $index) {
                                <tr>
                                  <td class="text-center">{{ data.cod_consignacion }}</td>
                                  <td class="text-center">{{ data.categoria }}</td>
                                  <td class="text-center">{{ data.cod_producto }}</td>
                                  <td class="text-center">{{ data.descripcion }}</td>
                                  <td class="text-center">{{ data.talle }}</td>
                                  <td class="text-center">{{'$'}}{{ data.precio }}</td>
                                  <td class="text-center">{{ data.activo }}</td>
                                <td>
                                    <button class="nz-button" (click)="edit(data)" nz-button nzType="primary"> 
                                        <span  nz-icon nzType="drop"></span>
                                        Editar
                                    </button>
                                </td>
                                <td>
                                    @if(data.activo === 'Si'){
                                        <button class="nz-button-desactivar" nz-popconfirm
                                        nzPopconfirmTitle="Estas seguro que desea desactivar el producto?"
                                        nzPopconfirmPlacement="bottom"
                                        (nzOnConfirm)="desactivarProducto(data.id_producto || '')"
                                         nz-button nzType="primary">
                                            desactivar
                                        </button>
                                      }@else {
                                        <button class="nz-button-activar" nz-popconfirm
                                        nzPopconfirmTitle="Estas seguro que desea activar el producto?"
                                        nzPopconfirmPlacement="bottom"
                                        (nzOnConfirm)="activarProducto(data.id_producto || '')"
                                         nz-button nzType="primary">
                                            activar
                                        </button>
                                      }
                                </td>
                                </tr>
                            }
                        </tbody>
                    </nz-table>
                </div>
            }

<form [formGroup]="form">
<nz-modal [(nzVisible)]="isVisible"  [nzTitle]="ProductoID?.value?'Editar producto':'Agregar producto'" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent> 
        <nz-select [nzStatus]="(CategoriaID?.errors && init)?'error' : ''" nzPlaceHolder="Lista de categoria" class="w-full" formControlName="id_categoria">
            @for(items of listCategoria; track $index){
                <nz-option [nzValue]="items.id_categoria" [nzLabel]="items.descripcion"></nz-option>
            }
        </nz-select> 
        @if(this.form.get('id_categoria')?.errors && init){
            <small class="error-text">Debes ingresar una categoria</small>
        }  
        <input [nzStatus]="(Descripcion?.errors && init)?'error' : ''" class="mt-3" nz-input placeholder="Descripcion" formControlName="descripcion" type="text" />
        @if(this.form.get('descripcion')?.errors && init){
            <small class="error-text">Debes ingresar una descripcion</small>
        }   
        <input [nzStatus]="(Talle?.errors && init)?'error' : ''" class="mt-3" nz-input placeholder="Talle" formControlName="talle" type="text" />
        @if(this.form.get('talle')?.errors && init){
            <small class="error-text">Debes ingresar un talle</small>
        }  
        <input [nzStatus]="(Precio?.errors && init)?'error' : ''" class="mt-3" nz-input placeholder="Precio" formControlName="precio" type="text" />
        @if(this.form.get('precio')?.errors && init){
            <small class="error-text">Debes ingresar un precio</small>
        }  
        <input [nzStatus]="(Activo?.errors && init)?'error' : ''" class="mt-3" nz-input placeholder="Activo" formControlName="activo" type="text" />
        @if(this.form.get('activo')?.errors && init){
            <small class="error-text">Debes ingresar activo</small>
        }  
    </ng-container>
</nz-modal>
</form>